<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>maxCalculatorTop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu-background">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <!-- Título animado -->
        <ion-col size="12" class="ion-text-center">
          <h1 class="welcome-title">¡Elige una Aventura!</h1>
        </ion-col>
        
        <!-- Botón 1 con imagen -->
        <ion-col size="12" size-md="6" size-lg="4">
          <div class="image-button" routerLink="/cambio">
            <ion-icon name="swap-horizontal-outline"></ion-icon>
            <span>Cambio</span>
          </div>
        </ion-col>
        
        <!-- Botón 2 con imagen -->
        <ion-col size="12" size-md="6" size-lg="4">
          <div class="image-button" routerLink="/comparacion-igualacion">
            <ion-icon name="git-compare-outline"></ion-icon>
            <span>Comparación</span>
          </div>
        </ion-col>

        <!-- Botón 3 con imagen -->
        <ion-col size="12" size-md="6" size-lg="4">
          <div class="image-button" routerLink="/combinacion">
             <ion-icon name="add-circle-outline"></ion-icon>
             <span>Combinación</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>