<ion-header>
  <ion-toolbar color="primary">
    <ion-title>maxCalculatorTop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu-background">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col size="12" class="ion-text-center">
          <h1 class="welcome-title">¡Elige una Opcion!</h1>
        </ion-col>
        
        <!-- Botón 1 con icono -->  
        <ion-col size="12" class="ion-text-center" size-md="6" size-lg="4">
          <div class="image-button" routerLink="/cambio">
            <ion-icon name="swap-horizontal-outline"></ion-icon>
            <h1 class="title-2">Cambio</h1>
          </div>
        </ion-col>
        
        <!-- Botón 2 con icono -->
        <ion-col size="12" class="ion-text-center" size-md="6" size-lg="4">
          <div class="image-button" routerLink="/comparacion-igualacion">
            <ion-icon name="git-compare-outline"></ion-icon>
            <h2 class="title-2">Comparación</h2>
          </div>
        </ion-col>

        <!-- Botón 3 con icono -->
        <ion-col size="12" class="ion-text-center" size-md="6" size-lg="4">
          <div class="image-button" routerLink="/combinacion">
             <ion-icon name="add-circle-outline"></ion-icon>
             <h2 class="title-2">Combinación</h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!-- Modal de Bienvenida que se superpone al menú -->
<div *ngIf="showWelcomeModal" class="welcome-overlay">
  <div class="dialog-box">
    <div class="speech-bubble">
      ¡Hola! ¡Estoy listo para que juntos aprendamos a sumar, restar y comparar números!
    </div>
    <!-- CORRECCIÓN: Se llama a la función correcta 'closeWelcomeModal' -->
    <ion-button (click)="closeWelcomeModal()" expand="block" shape="round" class="start-button">
      ¡Empezar!
    </ion-button>
  </div>
  <img src="../../../assets/mono_welcome.png" alt="Mascota Mono" class="monkey-mascot">
</div>