.block-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  min-height: 10px;
  padding: 5px;
}

.block {
  background-color: #000000;
}

// Estilos para UNIDADES (cubos pequeños)
.unidad {
  width: 15px;
  height: 15px;
  background-color: #4caf50; // Verde
  border: 1px solid #388e3c;
}

// Estilos para DECENAS (barras)
.decena {
  width: 15px;
  height: 150px;
  background-color: #f44336; // Rojo
  border: 1px solid #d32f2f;
}

.decena-container {
  gap: 6px;
}

// Estilos para CENTENAS (placas)
.centena {
  width: 150px;
  height: 150px;
  background-color: #ffc107; // Amarillo
  border: 1px solid #ffa000;
}
