// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

:root {
  /* Establecer la nueva fuente para toda la aplicación */
  --ion-font-family: 'Nunito', sans-serif;

  /** Colores base de la aplicación **/
  --ion-color-primary: #8d6e63;
  --ion-color-primary-rgb: 141, 110, 99;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #7c6157;
  --ion-color-primary-tint: #997d72;

  --ion-color-secondary: #ffce00;
  --ion-color-secondary-rgb: 255, 206, 0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0b500;
  --ion-color-secondary-tint: #ffd21a;

  --ion-color-tertiary: #10dc60;
  --ion-color-tertiary-rgb: 16, 220, 96;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0ec254;
  --ion-color-tertiary-tint: #28e070;

}
