<ion-app>
  <!-- El menú ahora es de tipo "overlay" y funcionará correctamente en todas las pantallas -->
  <ion-menu content-id="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Actividades</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!-- El contenido del menú se mantiene igual -->
      <ion-list id="inbox-list">
        <ion-item *ngFor="let p of appPages" [routerLink]="p.url" routerDirection="root" lines="none" detail="false">
          <ion-icon aria-hidden="true" slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- El router-outlet principal se mantiene -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>