/*
  Usamos .native para asegurar que los estilos se apliquen
  correctamente dentro del Shadow DOM de Ionic.
*/
:host {
  ion-content {
    --background: #f4f5f8;
  }

  .caja-combinacion {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .zona {
    border: 4px solid #8c5e3c;
    background: #fff8e1;
    border-radius: 10px;
    min-height: 180px; // Reducimos un poco la altura mínima para pantallas pequeñas
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
  }

  .zona ion-card-header {
    padding-bottom: 8px;
  }

  .zona ion-card-title {
    text-align: center;
    font-weight: bold;
    color: #5d4037;
    padding: 5px;
    border-radius: 5px;
  }

  .zona ion-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: flex-start;
  }

  .total-zona ion-card-title {
    background-color: #e91e63;
    color: white;
  }

  .parte-zona ion-card-title {
    background-color: #2196f3;
    color: white;
  }

  .active-box {
    border-color: #ffc107;
    box-shadow: 0 0 15px rgba(255, 193, 7, 0.7);
  }

  .display-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
  }

  ion-footer {
    ion-toolbar {
      --background: #ffffff;
      padding-bottom: env(safe-area-inset-bottom); // Añade espacio en iPhones con notch
    }
  }
}
