<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="h-full">
    <ion-row class="ion-justify-content-center ion-align-items-center h-full">
      <ion-col size="12" size-md="6" class="ion-text-center">
        
        <!-- Aquí puedes poner el logo de tu aplicación -->
        <img src="../../assets/logoIE.png" alt="Logo de OperatorTop" style="max-width: 150px; margin-bottom: 20px;"/>

        <ion-text color="primary">
          <h1>OperatorTop</h1>
        </ion-text>
        <ion-text>
          <p>Aprendiendo matemáticas de forma divertida</p>
        </ion-text>
        
        <!-- Un spinner para indicar que la app está cargando -->
        <ion-spinner name="crescent" color="primary" class="mt-4"></ion-spinner>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
